<!DOCTYPE html>
<html>
<head>
    <title>Download XML File</title>
</head>
<center>
<body bgcolor="sky blue">
    <h1>Download XML File</h1>
    <a href="{{ url_for('download', filename=filename) }}">Download</a>
     <a href="{{ url_for('show') }}">Show data</a>

<!-- (A) SEARCH FORM -->
<form method="post">
<!--  <input type="text" name="search" required>-->
<!--  <input type="submit" value="Search">-->
<!--    <button type="submit" value="submit">Submit</button>-->
    <a href="{{ url_for('index') }}">Search</a>
</form>

<!-- (B) OUTPUT SEARCH RESULTS -->

<br><br><table  border="1" id="demo">
    <tr>
    <th>Production Month</th>
    <th>Model</th>
    <th> MIS TYPE </th>
    <th>PPM</th>
    <th>Failures</th>
    <th>Fleet</th>
    <th>Maturity</th>
  </tr>
  {% for i in a %}
  <tr>
    <td>{{ i[0] }}</td>
    <td>RIS</td>
    <td>{{ i[1] }}</td>
    <td>{{ i[5] }}</td>
    <td>{{ i[6] }}</td>
    <td>{{ i[7] }}</td>
    <td>{{ i[12] }}</td>
  </tr>
  {% endfor %}
</table>
</center>
</body>


</html>